= simple_form_for(@cliente) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    = f.input :cpf, label: "CPF"
    = f.input :endereco, label: "Endereço"
    = f.input :numero
    = f.input :cidade
    = f.input :estado
    = f.input :email

  .form-actions
    = f.submit "Salvar"
