%p#notice= notice

%p
  %b Nome:
  = @cliente.nome
%p
  %b CPF:
  = @cliente.cpf
%p
  %b Endereço:
  = @cliente.endereco
%p
  %b Numero:
  = @cliente.numero
%p
  %b Cidade:
  = @cliente.cidade
%p
  %b Estado:
  = @cliente.estado
%p
  %b Email:
  = @cliente.email

= link_to 'Editar', edit_cliente_path(@cliente)
\|
= link_to 'Voltar', clientes_path
