%h1 Listing entregas

%table
  %thead
    %tr
      %th Data
      %th Situacao
      %th Pedido
      %th
      %th
      %th

  %tbody
    - @entregas.each do |entrega|
      %tr
        %td= entrega.data
        %td= entrega.situacao
        %td= entrega.Pedido
        %td= link_to 'Mostrar', entrega
        %td= link_to 'Editar', edit_entrega_path(entrega)
        %td= link_to 'Excluir', entrega, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nova Entrega', new_entrega_path
