%p#notice= notice

%p
  %b Data:
  = @entrega.data
%p
  %b Situacao:
  = @entrega.situacao
%p
  %b Pedido:
  = @entrega.Pedido

= link_to 'Editar', edit_entrega_path(@entrega)
\|
= link_to 'Voltar', entregas_path
