%p#notice= notice

%p
  %b Data:
  = @entrega.data
%p
  %b Situacao:
  = @entrega.situacao
%p
  %b Pedido:
  = @entrega.Pedido

= link_to 'Edit', edit_entrega_path(@entrega)
\|
= link_to 'Back', entregas_path
