= simple_form_for(@pedido) do |f|
  = f.error_notification

  .form-inputs
    = f.input :data, as: :string
    = f.input :situacao, label:"Situação"
    = f.association :cliente, label_method: :nome

  .form-actions
    = f.submit "Salvar"
