= simple_form_for(@pedido) do |f|
  = f.error_notification

  .form-inputs
    = f.input :data
    = f.input :situacao, label:"Situação"
    = f.association :cliente

  .form-actions
    = f.submit "Salvar"
