%p#notice= notice

%p
  %b Pedido:
  = @pedido.pedido
%p
  %b Data:
  = @pedido.data
%p
  %b Situacao:
  = @pedido.situacao
%p
  %b Cliente:
  = @pedido.Cliente

= link_to 'Edit', edit_pedido_path(@pedido)
\|
= link_to 'Back', pedidos_path
