%p#notice= notice

%p
  %b Data:
  = @pedido.data
%p
  %b Situacao:
  = @pedido.situacao
%p
  %b Cliente:
  = @pedido.cliente.nome

= link_to 'Editar', edit_pedido_path(@pedido)
\|
= link_to 'Voltar', pedidos_path
