%h1 Lista de Cardapio

%table
  %thead
    %tr
      %th Nome
      %th Descricao
      %th Preco
      %th
      %th
      %th

  %tbody
    - @cardapios.each do |cardapio|
      %tr
        %td= cardapio.nome
        %td= cardapio.descricao
        %td= cardapio.preco
        %td= link_to 'Mostrar', cardapio
        %td= link_to 'Editar', edit_cardapio_path(cardapio)
        %td= link_to 'Excluir', cardapio, :method => :delete, :data => { :confirm => 'Are you sure?' }

      

%br

= link_to 'Novo Cardapio', new_cardapio_path
